<div class="sidebar">
  <ul>
    <li routerLink="/realtime-db" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</li>
    <li routerLink="auth" routerLinkActive="active">Auth</li>
    <li routerLink="single" routerLinkActive="active">Single</li>
    <li routerLink="list" routerLinkActive="active">Lists</li>
    <li routerLink="querying-lists" routerLinkActive="active">Querying lists</li>
    <li routerLink="dynamic-querying" routerLinkActive="active">Dynamic querying</li>
  </ul>
</div>